@charset "UTF-8";
// 常用变量设置
$enable-unit-vw: false;
$vm-base:750px;

$width-base:750;
$height-base:1334;
// rem-calc的基础值
$rem-base: 100px;

//width
%width {
    min-width: 320px;
    width: 100%;
}

%wrap {
    margin: 0 auto;
    min-width: 320px;
}